// {{ ansible_managed }}
// Ghost Configuration
// Documentation can be found at http://support.ghost.org/config/

{% macro walk_env_keys(prefix) -%}
    {% for key, value in ENV.items() -%}
        {% if key.startswith(prefix + "_") %}
            {{ key|replace(prefix + "_", "")|lower }}: {{ value }},
        {% endif %}
    {% endfor -%}
{%- endmacro %}

var path = require('path'),
    config;

config = {
    {{ ENV.NODE_ENV }}: {
        {% if ENV.GHOST_USE_HTTPS|default(False) in ("yes", "Yes", "True", True, 1, "1") %}
        url: 'https://{{ ENV.GHOST_SERVERNAME }}',
        {% else %}
        url: 'http://{{ ENV.GHOST_SERVERNAME }}',
        {% endif %}
        mail: {},
        database: {
            client: '{{ ENV.GHOST_DB_CLIENT }}',
            connection: {
                {{ walk_env_keys("GHOST_DB_CONNECTION") }}
            },
            {% if ENV.GHOST_DB_CLIENT != "sqlite3" %}
            pool: {
                min: {{ ENV.GHOST_DB_POOL_MIN|default(2) }},
                max: {{ ENV.GHOST_DB_POOL_MAX|default(10) }}
            }
            {% endif %}
        },
        server: {
            // Host to be passed to node's `net.Server#listen()`
            host: '127.0.0.1',
            // Port to be passed to node's `net.Server#listen()`, for iisnode set this to `process.env.PORT`
            port: '2368'
        },
        privacy: {
            {{ walk_env_keys("GHOST_PRIVACY") }}
        },
        fileStorage: {{ ENV.GHOST_FILE_STORAGE|default("false") }},
    },
};

// Export config
module.exports = config;
